**Libraries**

In [ ]:
pip install --upgrade category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/44/57/fcef41c248701ee62e8325026b90c432adea35555cbc870aff9cfba23727/category_encoders-2.2.2-py2.py3-none-any.whl (80kB)
     |████████████████████████████████| 81kB 3.5MB/s
Requirement already satisfied, skipping upgrade: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied, skipping upgrade: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied, skipping upgrade: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied, skipping upgrade: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied, skipping upgrade: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied, skipping upgrade: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import category_encoders as ce

from sklearn import svm
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, f1_score, roc_curve
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.naive_bayes import CategoricalNB, BernoulliNB, MultinomialNB, GaussianNB
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import average_precision_score
from sklearn.preprocessing import label_binarize


import plotly.graph_objects as go
from nltk.corpus import stopwords

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Dataset

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df=pd.read_csv("/content/drive/Shareddrives/Project 272/US_Accidents_Dec20.csv")

In [ ]:
new_df=df

In [ ]:
len(new_df)

4232541

In [ ]:
# new_df=new_df.iloc[:10000,:]
# new_df.to_csv("Road.csv")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
DATA_PATH = "/content/drive/Shareddrives/Project272"

In [ ]:
# df1=pd.read_csv('Road.csv')

In [ ]:
df.head()

    ID    Source    TMC  ...  Civil_Twilight Nautical_Twilight Astronomical_Twilight
0  A-1  MapQuest  201.0  ...           Night             Night                 Night
1  A-2  MapQuest  201.0  ...           Night             Night                   Day
2  A-3  MapQuest  201.0  ...           Night               Day                   Day
3  A-4  MapQuest  201.0  ...             Day               Day                   Day
4  A-5  MapQuest  201.0  ...             Day               Day                   Day

[5 rows x 49 columns]

In [ ]:
len(new_df)

4232541

In [ ]:
pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import category_encoders as ce

from sklearn import svm
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, f1_score, roc_curve
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.naive_bayes import CategoricalNB, BernoulliNB, MultinomialNB, GaussianNB
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import average_precision_score
from sklearn.preprocessing import label_binarize


import plotly.graph_objects as go
from nltk.corpus import stopwords

In [ ]:
road_features = ["Amenity", "Bump", "Crossing", "Give_Way", "Junction", "No_Exit", "Railway", "Roundabout", "Station", "Stop", "Traffic_Calming", "Traffic_Signal", "Turning_Loop"]
data = df[road_features].sum().sort_values(ascending=False)
data

Traffic_Signal     728111
Crossing           347417
Junction           339642
Station             86166
Stop                72183
Amenity             49430
Railway             38513
Give_Way            13195
No_Exit              5969
Traffic_Calming      2121
Bump                  861
Roundabout            237
Turning_Loop            0
dtype: int64

Preprocessing

In [ ]:
X=df
len(X)

4232541

In [ ]:
X.head()

    ID    Source    TMC  ...  Civil_Twilight Nautical_Twilight Astronomical_Twilight
0  A-1  MapQuest  201.0  ...           Night             Night                 Night
1  A-2  MapQuest  201.0  ...           Night             Night                   Day
2  A-3  MapQuest  201.0  ...           Night               Day                   Day
3  A-4  MapQuest  201.0  ...             Day               Day                   Day
4  A-5  MapQuest  201.0  ...             Day               Day                   Day

[5 rows x 49 columns]

In [ ]:
X["Start_Time"] = pd.to_datetime(X["Start_Time"])

# Extract year, month, weekday and day
X["Year"] = X["Start_Time"].dt.year
X["Month"] = X["Start_Time"].dt.month
X["Weekday"] = X["Start_Time"].dt.weekday
X["Day"] = X["Start_Time"].dt.day

# Extract hour and minute
X["Hour"] = X["Start_Time"].dt.hour
X["Minute"] = X["Start_Time"].dt.minute

X.head(100)

       ID    Source    TMC  Severity  ... Weekday Day  Hour  Minute
0     A-1  MapQuest  201.0         3  ...       0   8     5      46
1     A-2  MapQuest  201.0         2  ...       0   8     6       7
2     A-3  MapQuest  201.0         2  ...       0   8     6      49
3     A-4  MapQuest  201.0         3  ...       0   8     7      23
4     A-5  MapQuest  201.0         2  ...       0   8     7      39
..    ...       ...    ...       ...  ...     ...  ..   ...     ...
95   A-96  MapQuest  201.0         2  ...       3  11     7      28
96   A-97  MapQuest  201.0         3  ...       3  11     7      29
97   A-98  MapQuest  201.0         2  ...       3  11     7      53
98   A-99  MapQuest  201.0         2  ...       3  11     8       7
99  A-100  MapQuest  201.0         2  ...       3  11     8      13

[100 rows x 55 columns]

Start time to weekday,month,year

Dropping unwanted columns

In [ ]:
features_to_drop =  ['ID','Source','TMC','Start_Time','End_Time','End_Lat','End_Lng','Description','Number','Street',
                 'County', 'Zipcode','Country','Timezone','Airport_Code','Weather_Timestamp','Wind_Chill(F)',
                 'Turning_Loop','Sunrise_Sunset', 'Nautical_Twilight', 'Astronomical_Twilight','Distance(mi)',
                 'Side','Stop','Traffic_Signal','Civil_Twilight','Traffic_Calming','Amenity','Bump','Crossing',
                 'Give_Way','Junction','No_Exit','Railway','Roundabout','Station','City','State','Wind_Direction','Weather_Condition']
X = X.drop(features_to_drop, axis=1)
X.head()

   Severity  Start_Lat  Start_Lng  Temperature(F)  ...  Weekday  Day  Hour  Minute
0         3  39.865147 -84.058723            36.9  ...        0    8     5      46
1         2  39.928059 -82.831184            37.9  ...        0    8     6       7
2         2  39.063148 -84.032608            36.0  ...        0    8     6      49
3         3  39.747753 -84.205582            35.1  ...        0    8     7      23
4         2  39.627781 -84.188354            36.0  ...        0    8     7      39

[5 rows x 15 columns]

In [ ]:
X.columns

Index(['Severity', 'Start_Lat', 'Start_Lng', 'Temperature(F)', 'Humidity(%)',
       'Pressure(in)', 'Visibility(mi)', 'Wind_Speed(mph)',
       'Precipitation(in)', 'Year', 'Month', 'Weekday', 'Day', 'Hour',
       'Minute'],
      dtype='object')

Dropping duplicate values

In [ ]:
print("Number of rows:", len(X.index))
X.drop_duplicates(inplace=True)
print("Number of rows after drop of duplicates:", len(X.index))

Number of rows: 4232541
Number of rows after drop of duplicates: 4047824

In [ ]:
X

         Severity  Start_Lat   Start_Lng  ...  Day  Hour  Minute
0               3  39.865147  -84.058723  ...    8     5      46
1               2  39.928059  -82.831184  ...    8     6       7
2               2  39.063148  -84.032608  ...    8     6      49
3               3  39.747753  -84.205582  ...    8     7      23
4               2  39.627781  -84.188354  ...    8     7      39
...           ...        ...         ...  ...  ...   ...     ...
4232536         2  34.002480 -117.379360  ...   23    18       3
4232537         2  32.766960 -117.148060  ...   23    19      11
4232538         2  33.775450 -117.847790  ...   23    19       0
4232539         2  33.992460 -118.403020  ...   23    19       0
4232540         2  34.133930 -117.230920  ...   23    18      52

[4047824 rows x 15 columns]

Handling missing values

In [ ]:
X[["Pressure(in)", "Visibility(mi)"]].describe().round(2)

       Pressure(in)  Visibility(mi)
count    3976580.00      3955206.00
mean          29.70            9.11
std            0.86            2.83
min            0.00            0.00
25%           29.65           10.00
50%           29.93           10.00
75%           30.08           10.00
max           58.04          140.00

In [ ]:
X = X[X["Pressure(in)"] != 0]
X = X[X["Visibility(mi)"] != 0]
X[["Pressure(in)", "Visibility(mi)"]].describe().round(2)

       Pressure(in)  Visibility(mi)
count    3974197.00      3952821.00
mean          29.70            9.12
std            0.85            2.82
min            0.02            0.06
25%           29.65           10.00
50%           29.93           10.00
75%           30.08           10.00
max           58.04          140.00

In [ ]:
# unique_weather = X["Weather_Condition"].unique()

# print(len(X["Weather_Condition"]))
# print(len(unique_weather))

Replacing Description for weather

In [ ]:

# print(unique_weather)

In [ ]:
# X.loc[X["Weather_Condition"].str.contains("Thunder|T-Storm", na=False), "Weather_Condition"] = "Thunderstorm"
# X.loc[X["Weather_Condition"].str.contains("Snow|Sleet|Wintry", na=False), "Weather_Condition"] = "Snow"
# X.loc[X["Weather_Condition"].str.contains("Rain|Drizzle|Shower", na=False), "Weather_Condition"] = "Rain"
# X.loc[X["Weather_Condition"].str.contains("Wind|Squalls", na=False), "Weather_Condition"] = "Windy"
# X.loc[X["Weather_Condition"].str.contains("Hail|Pellets", na=False), "Weather_Condition"] = "Hail"
# X.loc[X["Weather_Condition"].str.contains("Fair", na=False), "Weather_Condition"] = "Clear"
# X.loc[X["Weather_Condition"].str.contains("Cloud|Overcast", na=False), "Weather_Condition"] = "Clouds"
# X.loc[X["Weather_Condition"].str.contains("Mist|Haze|Fog", na=False), "Weather_Condition"] = "Fog"
# X.loc[X["Weather_Condition"].str.contains("Sand|Dust", na=False), "Weather_Condition"] = "Sand"
# X.loc[X["Weather_Condition"].str.contains("Smoke|Volcanic Ash", na=False), "Weather_Condition"] = "Smoke"
# X.loc[X["Weather_Condition"].str.contains("N/A Precipitation", na=False), "Weather_Condition"] = np.nan

# print(X["Weather_Condition"].unique())

changing description for wind direction

In [ ]:
# X["Wind_Direction"].unique()

In [ ]:
# X.loc[X["Wind_Direction"] == "CALM", "Wind_Direction"] = "Calm"
# X.loc[X["Wind_Direction"] == "VAR", "Wind_Direction"] = "Variable"
# X.loc[X["Wind_Direction"] == "East", "Wind_Direction"] = "E"
# X.loc[X["Wind_Direction"] == "North", "Wind_Direction"] = "N"
# X.loc[X["Wind_Direction"] == "South", "Wind_Direction"] = "S"
# X.loc[X["Wind_Direction"] == "West", "Wind_Direction"] = "W"

# X["Wind_Direction"] = X["Wind_Direction"].map(lambda x : x if len(x) != 3 else x[1:], na_action="ignore")

# X["Wind_Direction"].unique()

In [ ]:
X.head(10)

   Severity  Start_Lat  Start_Lng  Temperature(F)  ...  Weekday  Day  Hour  Minute
0         3  39.865147 -84.058723            36.9  ...        0    8     5      46
1         2  39.928059 -82.831184            37.9  ...        0    8     6       7
2         2  39.063148 -84.032608            36.0  ...        0    8     6      49
3         3  39.747753 -84.205582            35.1  ...        0    8     7      23
4         2  39.627781 -84.188354            36.0  ...        0    8     7      39
5         3  40.100590 -82.925194            37.9  ...        0    8     7      44
6         2  39.758274 -84.230507            34.0  ...        0    8     7      59
7         3  39.770382 -84.194901            34.0  ...        0    8     7      59
8         2  39.778061 -84.172005            33.3  ...        0    8     8       0
9         3  40.100590 -82.925194            37.4  ...        0    8     8      10

[10 rows x 15 columns]

Analyzing missing values

In [ ]:
X.isna().sum()

Severity                   0
Start_Lat                  0
Start_Lng                  0
Temperature(F)         83729
Humidity(%)            88870
Pressure(in)           71241
Visibility(mi)         92617
Wind_Speed(mph)       470788
Precipitation(in)    2044600
Year                       0
Month                      0
Weekday                    0
Day                        0
Hour                       0
Minute                     0
dtype: int64

In [ ]:
features_to_fill = ["Temperature(F)", "Humidity(%)", "Pressure(in)", "Visibility(mi)", "Wind_Speed(mph)", "Precipitation(in)"]
X[features_to_fill] = X[features_to_fill].fillna(X[features_to_fill].mean())

X.dropna(inplace=True)

X.isna().sum()

Severity             0
Start_Lat            0
Start_Lng            0
Temperature(F)       0
Humidity(%)          0
Pressure(in)         0
Visibility(mi)       0
Wind_Speed(mph)      0
Precipitation(in)    0
Year                 0
Month                0
Weekday              0
Day                  0
Hour                 0
Minute               0
dtype: int64

In [ ]:
len(X)

4045438

In [ ]:
X.describe().round(2)

         Severity   Start_Lat   Start_Lng  ...         Day        Hour      Minute
count  4045438.00  4045438.00  4045438.00  ...  4045438.00  4045438.00  4045438.00
mean         2.32       36.42      -95.52  ...       15.86       12.13       29.98
std          0.54        4.94       17.31  ...        8.71        5.39       17.29
min          1.00       24.56     -124.62  ...        1.00        0.00        0.00
25%          2.00       33.54     -117.35  ...        8.00        8.00       15.00
50%          2.00       35.82      -90.10  ...       16.00       12.00       30.00
75%          3.00       40.19      -80.88  ...       23.00       17.00       45.00
max          4.00       49.00      -67.11  ...       31.00       23.00       59.00

[8 rows x 15 columns]

Handling unbalanced data (Severity)

In [ ]:
size = len(X[X["Severity"]==1].index)
df = pd.DataFrame()
for i in range(1,5):
    S = X[X["Severity"]==i]
    df = df.append(S.sample(size, random_state=42))
X = df

In [ ]:
scaler = MinMaxScaler()
features = ['Temperature(F)','Humidity(%)','Pressure(in)','Visibility(mi)','Wind_Speed(mph)','Precipitation(in)','Start_Lng','Start_Lat','Year', 'Month','Weekday','Day','Hour','Minute']
X[features] = scaler.fit_transform(X[features])
X.head()

         Severity  Start_Lat  Start_Lng  ...       Day      Hour    Minute
3655828         1   0.374356   0.217760  ...  0.833333  0.608696  0.186441
3614858         1   0.186694   0.762330  ...  0.166667  0.521739  0.983051
3443709         1   0.373760   0.710306  ...  0.900000  0.608696  0.372881
3472202         1   0.364244   0.220509  ...  0.200000  0.565217  0.796610
3464634         1   0.542588   0.040093  ...  0.000000  0.869565  0.101695

[5 rows x 15 columns]

In [ ]:

import joblib

In [ ]:
scaler_filename = "saved_scaler"
joblib.dump(scaler, scaler_filename)

['saved_scaler']

Replacing True/False with 1/0

In [ ]:
X = X.replace([True, False], [1, 0])

X.head()

         Severity  Start_Lat  Start_Lng  ...       Day      Hour    Minute
3655828         1   0.374356   0.217760  ...  0.833333  0.608696  0.186441
3614858         1   0.186694   0.762330  ...  0.166667  0.521739  0.983051
3443709         1   0.373760   0.710306  ...  0.900000  0.608696  0.372881
3472202         1   0.364244   0.220509  ...  0.200000  0.565217  0.796610
3464634         1   0.542588   0.040093  ...  0.000000  0.869565  0.101695

[5 rows x 15 columns]

In [ ]:
X

         Severity  Start_Lat  Start_Lng  ...       Day      Hour    Minute
3655828         1   0.374356   0.217760  ...  0.833333  0.608696  0.186441
3614858         1   0.186694   0.762330  ...  0.166667  0.521739  0.983051
3443709         1   0.373760   0.710306  ...  0.900000  0.608696  0.372881
3472202         1   0.364244   0.220509  ...  0.200000  0.565217  0.796610
3464634         1   0.542588   0.040093  ...  0.000000  0.869565  0.101695
...           ...        ...        ...  ...       ...       ...       ...
3904791         4   0.614872   0.820457  ...  0.533333  0.304348  0.576271
4082727         4   0.340598   0.129632  ...  0.066667  0.173913  0.118644
4019371         4   0.366697   0.217537  ...  0.733333  0.695652  0.355932
4072787         4   0.741374   0.703093  ...  0.266667  0.391304  0.711864
2798407         4   0.695315   0.717234  ...  1.000000  0.000000  0.067797

[105852 rows x 15 columns]

In [ ]:
# Metrics dictionary
accuracy = dict()
precision = dict()
recall = dict()
f1 = dict()
fpr = dict()
tpr = dict()

Train and validation

In [ ]:
# Train/Validation - Test split
X, X_test = train_test_split(X, test_size=.2, random_state=42)
print(X.shape, X_test.shape)

(84681, 15) (21171, 15)

In [ ]:
sample = X
y_sample = sample["Severity"]
X_sample = sample.drop("Severity", axis=1)

	
X_train, X_validate, y_train, y_validate = train_test_split(X_sample, y_sample, random_state=42)
print(X_train.shape, y_train.shape)
print(X_validate.shape, y_validate.shape)

(63510, 14) (63510,)
(21171, 14) (21171,)

In [ ]:
# from sklearn.linear_model import LogisticRegression
# from sklearn.ensemble import GradientBoostingClassifier
# from xgboost import XGBClassifier
# lrcv = LogisticRegression(max_iter = 500)
# gbc = GradientBoostingClassifier(learning_rate= 0.01,n_estimators= 200)
# xgb = XGBClassifier()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_sample,y_sample, train_size = 0.75, random_state = 12)

In [ ]:
X_sample

         Start_Lat  Start_Lng  Temperature(F)  ...       Day      Hour    Minute
4100434   0.630932   0.727332        0.535992  ...  0.233333  0.826087  0.322034
1339541   0.709575   0.911519        0.783074  ...  0.166667  0.304348  0.864407
3530413   0.291992   0.320001        0.831712  ...  0.233333  0.434783  0.813559
3833382   0.519363   0.044627        0.763619  ...  0.300000  0.565217  0.440678
2167819   0.428735   0.760668        0.763619  ...  0.100000  0.434783  0.389831
...            ...        ...             ...  ...       ...       ...       ...
1004135   0.539366   0.052047        0.671206  ...  0.166667  0.304348  0.016949
2634441   0.087952   0.780536        0.856518  ...  0.800000  0.608696  0.508475
4050105   0.360960   0.221294        0.797665  ...  0.533333  0.652174  0.457627
3538527   0.834541   0.026398        0.783074  ...  0.333333  0.782609  0.237288
3507712   0.862166   0.036698        0.846304  ...  0.700000  0.739130  0.372881

[84681 rows x 14 columns]

In [ ]:
rfc = RandomForestClassifier(n_jobs=-1, random_state=42)
parameters = [{"n_estimators": [50, 100, 200, 500], "max_depth": [5, 10, 15, 30]}]
grid = GridSearchCV(rfc, parameters, verbose=5, n_jobs=-1)
grid.fit(X_train, y_train)

print("Best parameters scores:")
print(grid.best_params_)
print("Train score:", grid.score(X_train, y_train))
print("Validation score:", grid.score(X_validate, y_validate))

Fitting 5 folds for each of 16 candidates, totalling 80 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  14 tasks      | elapsed:   54.1s
/usr/local/lib/python3.7/dist-packages/joblib/externals/loky/process_executor.py:691: UserWarning:

A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.

[Parallel(n_jobs=-1)]: Done  68 tasks      | elapsed: 12.4min
[Parallel(n_jobs=-1)]: Done  80 out of  80 | elapsed: 18.5min finished

Best parameters scores:
{'max_depth': 30, 'n_estimators': 500}
Train score: 0.999921272240592
Validation score: 0.9146946294459402

In [ ]:
print("Default scores:")
rfc.fit(X_train, y_train)
print("Train score:", rfc.score(X_train, y_train))
print("Validation score:", rfc.score(X_validate, y_validate))

Default scores:
Train score: 0.9999527633443552
Validation score: 0.9141750507770063

In [ ]:
y_pred=rfc.predict(X_sample)

In [ ]:
import pickle
pickle.dump(rfc,open('lr_model.pkl','wb'))

In [ ]:
# infile = open(DATA_PATH+'/lr_model.pkl','rb')
# best_model2 = pickle.load(infile)

In [ ]:
y_sample

4100434    4
1339541    2
3530413    1
3833382    2
2167819    2
          ..
1004135    3
2634441    3
4050105    4
3538527    1
3507712    1
Name: Severity, Length: 84681, dtype: int64

In [ ]:
y_pred

array([4, 2, 1, ..., 4, 1, 1])

In [ ]:
print("Accuracy: ", accuracy_score(y_sample,y_pred))

Accuracy:  0.9142664824458852