**Libraries**

In [241]:
pip install --upgrade category_encoders

WARNING: Value for scheme.platlib does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /Library/Python/3.8/site-packages
sysconfig: /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.8/lib/python3.8/site-packages
WARNING: Value for scheme.purelib does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /Library/Python/3.8/site-packages
sysconfig: /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.8/lib/python3.8/site-packages
WARNING: Value for scheme.headers does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /Library/Python/3.8/include/UNKNOWN
sysconfig: /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.8/include/python3.8
WARNING: Value for scheme.scripts does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /usr/local/bin
sysconfig: /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.8/bin
WARNING: Value for scheme.data does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /Library/Python/3.8
sysconfig: /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.8
WARNING: Additional context:
user = False
home = None
root = None
prefix = None
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: category_encoders in /Users/anaghasethuraman/Library/Python/3.8/lib/python/site-packages (2.2.2)
Requirement already satisfied: statsmodels>=0.9.0 in /Users/anaghasethuraman/Library/Python/3.8/lib/python/site-packages (from category_encoders) (0.12.2)
Requirement already satisfied: scipy>=1.0.0 in /Users/anaghasethuraman/Library/Python/3.8/lib/python/site-packages (from category_encoders) (1.6.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /Users/anaghasethuraman/Library/Python/3.8/lib/python/site-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: patsy>=0.5.1 in /Users/anaghasethuraman/Library/Python/3.8/lib/python/site-packages (from category_encoders) (0.5.1)
Requirement already satisfied: pandas>=0.21.1 in /Users/anaghasethuraman/Library/Python/3.8/lib/python/site-packages (from category_encoders) (1.0.5)
Requirement already satisfied: numpy>=1.14.0 in /Users/anaghasethuraman/Library/Python/3.8/lib/python/site-packages (from category_encoders) (1.19.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/anaghasethuraman/Library/Python/3.8/lib/python/site-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /Users/anaghasethuraman/Library/Python/3.8/lib/python/site-packages (from pandas>=0.21.1->category_encoders) (2019.1)
Requirement already satisfied: six in /Users/anaghasethuraman/Library/Python/3.8/lib/python/site-packages (from patsy>=0.5.1->category_encoders) (1.12.0)
Requirement already satisfied: joblib>=0.11 in /Users/anaghasethuraman/Library/Python/3.8/lib/python/site-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
WARNING: Value for scheme.platlib does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /Users/anaghasethuraman/Library/Python/3.8/lib/python/site-packages
sysconfig: /Users/anaghasethuraman/Library/Python/3.8/lib/python3.8/site-packages
WARNING: Value for scheme.purelib does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /Users/anaghasethuraman/Library/Python/3.8/lib/python/site-packages
sysconfig: /Users/anaghasethuraman/Library/Python/3.8/lib/python3.8/site-packages
WARNING: Value for scheme.headers does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /Users/anaghasethuraman/Library/Python/3.8/include/python3.8/UNKNOWN
sysconfig: /Users/anaghasethuraman/Library/Python/3.8/include/python3.8
WARNING: Additional context:
user = True
home = None
root = None
prefix = None
WARNING: You are using pip version 21.1; however, version 21.1.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [242]:
pip install plotly

WARNING: Value for scheme.platlib does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /Library/Python/3.8/site-packages
sysconfig: /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.8/lib/python3.8/site-packages
WARNING: Value for scheme.purelib does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /Library/Python/3.8/site-packages
sysconfig: /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.8/lib/python3.8/site-packages
WARNING: Value for scheme.headers does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /Library/Python/3.8/include/UNKNOWN
sysconfig: /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.8/include/python3.8
WARNING: Value for scheme.scripts does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /usr/local/bin
sysconfig: /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.8/bin
WARNING: Value for scheme.data does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /Library/Python/3.8
sysconfig: /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.8
WARNING: Additional context:
user = False
home = None
root = None
prefix = None
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: plotly in /Users/anaghasethuraman/Library/Python/3.8/lib/python/site-packages (4.14.3)
Requirement already satisfied: retrying>=1.3.3 in /Users/anaghasethuraman/Library/Python/3.8/lib/python/site-packages (from plotly) (1.3.3)
Requirement already satisfied: six in /Users/anaghasethuraman/Library/Python/3.8/lib/python/site-packages (from plotly) (1.12.0)
WARNING: Value for scheme.platlib does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /Users/anaghasethuraman/Library/Python/3.8/lib/python/site-packages
sysconfig: /Users/anaghasethuraman/Library/Python/3.8/lib/python3.8/site-packages
WARNING: Value for scheme.purelib does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /Users/anaghasethuraman/Library/Python/3.8/lib/python/site-packages
sysconfig: /Users/anaghasethuraman/Library/Python/3.8/lib/python3.8/site-packages
WARNING: Value for scheme.headers does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /Users/anaghasethuraman/Library/Python/3.8/include/python3.8/UNKNOWN
sysconfig: /Users/anaghasethuraman/Library/Python/3.8/include/python3.8
WARNING: Additional context:
user = True
home = None
root = None
prefix = None
WARNING: You are using pip version 21.1; however, version 21.1.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [243]:
pip install nltk

WARNING: Value for scheme.platlib does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /Library/Python/3.8/site-packages
sysconfig: /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.8/lib/python3.8/site-packages
WARNING: Value for scheme.purelib does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /Library/Python/3.8/site-packages
sysconfig: /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.8/lib/python3.8/site-packages
WARNING: Value for scheme.headers does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /Library/Python/3.8/include/UNKNOWN
sysconfig: /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.8/include/python3.8
WARNING: Value for scheme.scripts does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /usr/local/bin
sysconfig: /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.8/bin
WARNING: Value for scheme.data does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /Library/Python/3.8
sysconfig: /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.8
WARNING: Additional context:
user = False
home = None
root = None
prefix = None
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in /Users/anaghasethuraman/Library/Python/3.8/lib/python/site-packages (3.6.2)
Requirement already satisfied: joblib in /Users/anaghasethuraman/Library/Python/3.8/lib/python/site-packages (from nltk) (1.0.1)
Requirement already satisfied: tqdm in /Users/anaghasethuraman/Library/Python/3.8/lib/python/site-packages (from nltk) (4.60.0)
Requirement already satisfied: click in /Users/anaghasethuraman/Library/Python/3.8/lib/python/site-packages (from nltk) (7.1.2)
Requirement already satisfied: regex in /Users/anaghasethuraman/Library/Python/3.8/lib/python/site-packages (from nltk) (2021.4.4)
WARNING: Value for scheme.platlib does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /Users/anaghasethuraman/Library/Python/3.8/lib/python/site-packages
sysconfig: /Users/anaghasethuraman/Library/Python/3.8/lib/python3.8/site-packages
WARNING: Value for scheme.purelib does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /Users/anaghasethuraman/Library/Python/3.8/lib/python/site-packages
sysconfig: /Users/anaghasethuraman/Library/Python/3.8/lib/python3.8/site-packages
WARNING: Value for scheme.headers does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /Users/anaghasethuraman/Library/Python/3.8/include/python3.8/UNKNOWN
sysconfig: /Users/anaghasethuraman/Library/Python/3.8/include/python3.8
WARNING: Additional context:
user = True
home = None
root = None
prefix = None
WARNING: You are using pip version 21.1; however, version 21.1.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [244]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import category_encoders as ce

from sklearn import svm
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, f1_score, roc_curve
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.naive_bayes import CategoricalNB, BernoulliNB, MultinomialNB, GaussianNB
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import average_precision_score
from sklearn.preprocessing import label_binarize


import plotly.graph_objects as go
from nltk.corpus import stopwords

Dataset

In [245]:
df=pd.read_csv("Road.csv")

In [246]:
df.head()

,Unnamed: 0,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,...,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,Year,Month,Weekday,Day,Hour,Minute
0,0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,...,Night,Night,Night,Night,2016,2,0,8,5,46
1,1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,...,Night,Night,Night,Day,2016,2,0,8,6,7
2,2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,...,Night,Night,Day,Day,2016,2,0,8,6,49
3,3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,...,Night,Day,Day,Day,2016,2,0,8,7,23
4,4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,...,Day,Day,Day,Day,2016,2,0,8,7,39

In [247]:
road_features = ["Amenity", "Bump", "Crossing", "Give_Way", "Junction", "No_Exit", "Railway", "Roundabout", "Station", "Stop", "Traffic_Calming", "Traffic_Signal", "Turning_Loop"]
data = df[road_features].sum().sort_values(ascending=False)
data

Junction           1352
Traffic_Signal      979
Crossing            631
Stop                360
Station             149
Railway             108
Amenity              97
Give_Way             14
No_Exit               8
Traffic_Calming       5
Roundabout            2
Bump                  2
Turning_Loop          0
dtype: int64

Preprocessing

In [248]:
X=df
len(X)

10000

In [249]:
X.head()

,Unnamed: 0,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,...,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,Year,Month,Weekday,Day,Hour,Minute
0,0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,...,Night,Night,Night,Night,2016,2,0,8,5,46
1,1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,...,Night,Night,Night,Day,2016,2,0,8,6,7
2,2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,...,Night,Night,Day,Day,2016,2,0,8,6,49
3,3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,...,Night,Day,Day,Day,2016,2,0,8,7,23
4,4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,...,Day,Day,Day,Day,2016,2,0,8,7,39

Start time to weekday,month,year

In [250]:
X["Start_Time"] = pd.to_datetime(X["Start_Time"])

# Extract year, month, weekday and day
X["Year"] = X["Start_Time"].dt.year
X["Month"] = X["Start_Time"].dt.month
X["Weekday"] = X["Start_Time"].dt.weekday
X["Day"] = X["Start_Time"].dt.day

# Extract hour and minute
X["Hour"] = X["Start_Time"].dt.hour
X["Minute"] = X["Start_Time"].dt.minute

X.head(100)

,Unnamed: 0,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,...,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,Year,Month,Weekday,Day,Hour,Minute
0,0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,...,Night,Night,Night,Night,2016,2,0,8,5,46
1,1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,...,Night,Night,Night,Day,2016,2,0,8,6,7
2,2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,...,Night,Night,Day,Day,2016,2,0,8,6,49
3,3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,...,Night,Day,Day,Day,2016,2,0,8,7,23
4,4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,...,Day,Day,Day,Day,2016,2,0,8,7,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,A-96,MapQuest,201.0,2,2016-02-11 07:28:16,2016-02-11 07:58:16,39.994061,-82.729416,NaN,...,Day,Day,Day,Day,2016,2,3,11,7,28
96,96,A-97,MapQuest,201.0,3,2016-02-11 07:29:06,2016-02-11 08:18:10,41.355396,-81.819267,NaN,...,Day,Day,Day,Day,2016,2,3,11,7,29
97,97,A-98,MapQuest,201.0,2,2016-02-11 07:53:55,2016-02-11 08:23:55,39.687389,-84.237968,NaN,...,Day,Day,Day,Day,2016,2,3,11,7,53
98,98,A-99,MapQuest,201.0,2,2016-02-11 08:07:02,2016-02-11 08:37:02,39.751038,-84.214325,NaN,...,Day,Day,Day,Day,2016,2,3,11,8,7
99,99,A-100,MapQuest,201.0,2,2016-02-11 08:13:24,2016-02-11 08:43:24,39.749916,-84.139359,NaN,...,Day,Day,Day,Day,2016,2,3,11,8,13

Dropping unwanted columns

In [251]:
features_to_drop =  ['Unnamed: 0','ID','Source','TMC','Start_Time','End_Time','End_Lat','End_Lng','Description','Number','Street',
                 'County', 'Zipcode','Country','Timezone','Airport_Code','Weather_Timestamp','Wind_Chill(F)',
                 'Turning_Loop','Sunrise_Sunset', 'Nautical_Twilight', 'Astronomical_Twilight','Distance(mi)',
                 'Side','Stop','Traffic_Signal','Civil_Twilight','Traffic_Calming','Amenity','Bump','Crossing',
                 'Give_Way','Junction','No_Exit','Railway','Roundabout','Station','City','State','Wind_Direction','Weather_Condition']
X = X.drop(features_to_drop, axis=1)
X.head()

,Severity,Start_Lat,Start_Lng,Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in),Year,Month,Weekday,Day,Hour,Minute
0,3,39.865147,-84.058723,36.9,91.0,29.68,10.0,NaN,0.02,2016,2,0,8,5,46
1,2,39.928059,-82.831184,37.9,100.0,29.65,10.0,NaN,0.00,2016,2,0,8,6,7
2,2,39.063148,-84.032608,36.0,100.0,29.67,10.0,3.5,NaN,2016,2,0,8,6,49
3,3,39.747753,-84.205582,35.1,96.0,29.64,9.0,4.6,NaN,2016,2,0,8,7,23
4,2,39.627781,-84.188354,36.0,89.0,29.65,6.0,3.5,NaN,2016,2,0,8,7,39

In [252]:
X.columns

Index(['Severity', 'Start_Lat', 'Start_Lng', 'Temperature(F)', 'Humidity(%)',
       'Pressure(in)', 'Visibility(mi)', 'Wind_Speed(mph)',
       'Precipitation(in)', 'Year', 'Month', 'Weekday', 'Day', 'Hour',
       'Minute'],
      dtype='object')

Dropping duplicate values

In [253]:
print("Number of rows:", len(X.index))
X.drop_duplicates(inplace=True)
print("Number of rows after drop of duplicates:", len(X.index))

Number of rows: 10000
Number of rows after drop of duplicates: 9996

In [254]:
X

,Severity,Start_Lat,Start_Lng,Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in),Year,Month,Weekday,Day,Hour,Minute
0,3,39.865147,-84.058723,36.9,91.0,29.68,10.0,NaN,0.02,2016,2,0,8,5,46
1,2,39.928059,-82.831184,37.9,100.0,29.65,10.0,NaN,0.00,2016,2,0,8,6,7
2,2,39.063148,-84.032608,36.0,100.0,29.67,10.0,3.5,NaN,2016,2,0,8,6,49
3,3,39.747753,-84.205582,35.1,96.0,29.64,9.0,4.6,NaN,2016,2,0,8,7,23
4,2,39.627781,-84.188354,36.0,89.0,29.65,6.0,3.5,NaN,2016,2,0,8,7,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2,38.701267,-121.077751,46.4,66.0,30.08,10.0,NaN,NaN,2017,1,4,6,16,1
9996,2,36.981407,-122.011192,52.0,59.0,30.05,10.0,6.9,NaN,2017,1,4,6,16,14
9997,3,37.326691,-121.940720,51.1,50.0,30.04,10.0,5.8,NaN,2017,1,4,6,16,8
9998,3,37.930088,-122.324036,44.1,63.0,30.04,10.0,5.8,NaN,2017,1,4,6,16,25
9999,3,38.574406,-121.577354,46.0,71.0,30.09,10.0,8.1,NaN,2017,1,4,6,16,22

Handling missing values

In [255]:
X[["Pressure(in)", "Visibility(mi)"]].describe().round(2)

       Pressure(in)  Visibility(mi)
count       9961.00         9900.00
mean          30.01            8.91
std            0.32            2.57
min            3.01            0.20
25%           29.90           10.00
50%           30.01           10.00
75%           30.12           10.00
max           30.62           80.00

In [256]:
X = X[X["Pressure(in)"] != 0]
X = X[X["Visibility(mi)"] != 0]
X[["Pressure(in)", "Visibility(mi)"]].describe().round(2)

       Pressure(in)  Visibility(mi)
count       9961.00         9900.00
mean          30.01            8.91
std            0.32            2.57
min            3.01            0.20
25%           29.90           10.00
50%           30.01           10.00
75%           30.12           10.00
max           30.62           80.00

In [257]:
# unique_weather = X["Weather_Condition"].unique()

# print(len(X["Weather_Condition"]))
# print(len(unique_weather))

Replacing Description for weather

In [258]:

# print(unique_weather)

In [259]:
# X.loc[X["Weather_Condition"].str.contains("Thunder|T-Storm", na=False), "Weather_Condition"] = "Thunderstorm"
# X.loc[X["Weather_Condition"].str.contains("Snow|Sleet|Wintry", na=False), "Weather_Condition"] = "Snow"
# X.loc[X["Weather_Condition"].str.contains("Rain|Drizzle|Shower", na=False), "Weather_Condition"] = "Rain"
# X.loc[X["Weather_Condition"].str.contains("Wind|Squalls", na=False), "Weather_Condition"] = "Windy"
# X.loc[X["Weather_Condition"].str.contains("Hail|Pellets", na=False), "Weather_Condition"] = "Hail"
# X.loc[X["Weather_Condition"].str.contains("Fair", na=False), "Weather_Condition"] = "Clear"
# X.loc[X["Weather_Condition"].str.contains("Cloud|Overcast", na=False), "Weather_Condition"] = "Clouds"
# X.loc[X["Weather_Condition"].str.contains("Mist|Haze|Fog", na=False), "Weather_Condition"] = "Fog"
# X.loc[X["Weather_Condition"].str.contains("Sand|Dust", na=False), "Weather_Condition"] = "Sand"
# X.loc[X["Weather_Condition"].str.contains("Smoke|Volcanic Ash", na=False), "Weather_Condition"] = "Smoke"
# X.loc[X["Weather_Condition"].str.contains("N/A Precipitation", na=False), "Weather_Condition"] = np.nan

# print(X["Weather_Condition"].unique())

changing description for wind direction

In [260]:
# X["Wind_Direction"].unique()

In [261]:
# X.loc[X["Wind_Direction"] == "CALM", "Wind_Direction"] = "Calm"
# X.loc[X["Wind_Direction"] == "VAR", "Wind_Direction"] = "Variable"
# X.loc[X["Wind_Direction"] == "East", "Wind_Direction"] = "E"
# X.loc[X["Wind_Direction"] == "North", "Wind_Direction"] = "N"
# X.loc[X["Wind_Direction"] == "South", "Wind_Direction"] = "S"
# X.loc[X["Wind_Direction"] == "West", "Wind_Direction"] = "W"

# X["Wind_Direction"] = X["Wind_Direction"].map(lambda x : x if len(x) != 3 else x[1:], na_action="ignore")

# X["Wind_Direction"].unique()

In [262]:
X.head(10)

,Severity,Start_Lat,Start_Lng,Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in),Year,Month,Weekday,Day,Hour,Minute
0,3,39.865147,-84.058723,36.9,91.0,29.68,10.0,NaN,0.02,2016,2,0,8,5,46
1,2,39.928059,-82.831184,37.9,100.0,29.65,10.0,NaN,0.00,2016,2,0,8,6,7
2,2,39.063148,-84.032608,36.0,100.0,29.67,10.0,3.5,NaN,2016,2,0,8,6,49
3,3,39.747753,-84.205582,35.1,96.0,29.64,9.0,4.6,NaN,2016,2,0,8,7,23
4,2,39.627781,-84.188354,36.0,89.0,29.65,6.0,3.5,NaN,2016,2,0,8,7,39
5,3,40.100590,-82.925194,37.9,97.0,29.63,7.0,3.5,0.03,2016,2,0,8,7,44
6,2,39.758274,-84.230507,34.0,100.0,29.66,7.0,3.5,NaN,2016,2,0,8,7,59
7,3,39.770382,-84.194901,34.0,100.0,29.66,7.0,3.5,NaN,2016,2,0,8,7,59
8,2,39.778061,-84.172005,33.3,99.0,29.67,5.0,1.2,NaN,2016,2,0,8,8,0
9,3,40.100590,-82.925194,37.4,100.0,29.62,3.0,4.6,0.02,2016,2,0,8,8,10

Analyzing missing values

In [263]:
X.isna().sum()

Severity                0
Start_Lat               0
Start_Lng               0
Temperature(F)         85
Humidity(%)           124
Pressure(in)           35
Visibility(mi)         96
Wind_Speed(mph)      1772
Precipitation(in)    8873
Year                    0
Month                   0
Weekday                 0
Day                     0
Hour                    0
Minute                  0
dtype: int64

In [264]:
features_to_fill = ["Temperature(F)", "Humidity(%)", "Pressure(in)", "Visibility(mi)", "Wind_Speed(mph)", "Precipitation(in)"]
X[features_to_fill] = X[features_to_fill].fillna(X[features_to_fill].mean())

X.dropna(inplace=True)

X.isna().sum()

Severity             0
Start_Lat            0
Start_Lng            0
Temperature(F)       0
Humidity(%)          0
Pressure(in)         0
Visibility(mi)       0
Wind_Speed(mph)      0
Precipitation(in)    0
Year                 0
Month                0
Weekday              0
Day                  0
Hour                 0
Minute               0
dtype: int64

In [265]:
len(X)

9996

In [266]:
X.describe().round(2)

,Severity,Start_Lat,Start_Lng,Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in),Year,Month,Weekday,Day,Hour,Minute
count,9996.00,9996.00,9996.00,9996.00,9996.00,9996.00,9996.00,9996.00,9996.00,9996.00,9996.00,9996.00,9996.00,9996.00,9996.00
mean,2.39,38.13,-119.04,59.64,64.08,30.01,8.91,8.86,0.03,2016.08,8.16,2.63,15.84,13.36,30.49
std,0.49,0.75,9.97,17.30,24.32,0.32,2.56,4.17,0.02,0.27,3.68,1.73,9.22,5.91,17.00
min,1.00,36.35,-123.81,3.90,8.00,3.01,0.20,1.20,0.00,2016.00,1.00,0.00,1.00,0.00,0.00
25%,2.00,37.64,-122.16,48.20,47.00,29.91,10.00,5.80,0.03,2016.00,6.00,1.00,7.00,9.00,16.00
50%,2.00,37.96,-121.88,57.00,67.00,30.01,10.00,8.86,0.03,2016.00,7.00,3.00,16.00,14.00,30.00
75%,3.00,38.57,-121.35,71.10,85.00,30.12,10.00,10.40,0.03,2016.00,12.00,4.00,24.00,18.00,45.00
max,4.00,41.43,-81.55,106.00,100.00,30.62,80.00,33.40,0.49,2017.00,12.00,6.00,31.00,23.00,59.00

Handling unbalanced data (Severity)

In [267]:
size = len(X[X["Severity"]==1].index)
df = pd.DataFrame()
for i in range(1,5):
    S = X[X["Severity"]==i]
    df = df.append(S.sample(size, random_state=42))
X = df

In [268]:
scaler = MinMaxScaler()
features = ['Temperature(F)','Humidity(%)','Pressure(in)','Visibility(mi)','Wind_Speed(mph)','Precipitation(in)','Start_Lng','Start_Lat','Year', 'Month','Weekday','Day','Hour','Minute']
scaler = scaler.fit(X[features])
X[features]=scaler.transform(X[features])
X.head()

,Severity,Start_Lat,Start_Lng,Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in),Year,Month,Weekday,Day,Hour,Minute
163,1,1.000000,0.990950,0.000000,0.777778,0.544444,0.5,0.142857,0.126002,0.0,0.090909,0.000000,0.482759,0.666667,0.314815
374,1,0.698293,1.000000,0.228319,0.841270,0.000000,0.5,0.496894,0.363636,0.0,0.090909,0.333333,0.793103,0.111111,1.000000
8643,1,0.201730,0.000354,0.279646,0.333333,0.922222,1.0,0.285714,0.126002,0.0,1.000000,0.000000,0.862069,0.722222,0.500000
960,1,0.201374,0.025815,0.582301,0.142857,0.533333,1.0,0.211180,0.126002,0.0,0.454545,0.333333,0.724138,1.000000,0.907407
7851,1,0.355653,0.038348,0.394690,0.079365,0.966667,1.0,0.332920,0.126002,0.0,1.000000,0.166667,0.655172,0.277778,0.481481

In [269]:
scaler_filename = "saved_scaler"
joblib.dump(scaler, scaler_filename)

['saved_scaler']

Replacing True/False with 1/0

In [270]:
X = X.replace([True, False], [1, 0])

X.head()

,Severity,Start_Lat,Start_Lng,Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in),Year,Month,Weekday,Day,Hour,Minute
163,1,1.000000,0.990950,0.000000,0.777778,0.544444,0.5,0.142857,0.126002,0.0,0.090909,0.000000,0.482759,0.666667,0.314815
374,1,0.698293,1.000000,0.228319,0.841270,0.000000,0.5,0.496894,0.363636,0.0,0.090909,0.333333,0.793103,0.111111,1.000000
8643,1,0.201730,0.000354,0.279646,0.333333,0.922222,1.0,0.285714,0.126002,0.0,1.000000,0.000000,0.862069,0.722222,0.500000
960,1,0.201374,0.025815,0.582301,0.142857,0.533333,1.0,0.211180,0.126002,0.0,0.454545,0.333333,0.724138,1.000000,0.907407
7851,1,0.355653,0.038348,0.394690,0.079365,0.966667,1.0,0.332920,0.126002,0.0,1.000000,0.166667,0.655172,0.277778,0.481481

In [271]:
X

,Severity,Start_Lat,Start_Lng,Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in),Year,Month,Weekday,Day,Hour,Minute
163,1,1.000000,0.990950,0.000000,0.777778,0.544444,0.500000,0.142857,0.126002,0.0,0.090909,0.000000,0.482759,0.666667,0.314815
374,1,0.698293,1.000000,0.228319,0.841270,0.000000,0.500000,0.496894,0.363636,0.0,0.090909,0.333333,0.793103,0.111111,1.000000
8643,1,0.201730,0.000354,0.279646,0.333333,0.922222,1.000000,0.285714,0.126002,0.0,1.000000,0.000000,0.862069,0.722222,0.500000
960,1,0.201374,0.025815,0.582301,0.142857,0.533333,1.000000,0.211180,0.126002,0.0,0.454545,0.333333,0.724138,1.000000,0.907407
7851,1,0.355653,0.038348,0.394690,0.079365,0.966667,1.000000,0.332920,0.126002,0.0,1.000000,0.166667,0.655172,0.277778,0.481481
1390,1,0.000000,0.024465,0.681416,0.269841,0.622222,1.000000,0.332920,0.126002,0.0,0.454545,0.000000,0.896552,0.222222,0.222222
4266,2,0.204801,0.000152,0.688496,0.444444,0.500000,1.000000,0.142857,0.126002,0.0,0.545455,0.166667,0.862069,0.333333,0.666667
7643,2,0.387104,0.025063,0.203540,0.317460,1.000000,1.000000,0.332920,0.126002,0.0,1.000000,1.000000,0.586207,0.666667,0.685185
3420,2,0.371044,0.024162,0.812389,0.095238,0.566667,1.000000,0.571429,0.126002,0.0,0.545455,0.000000,0.586207,0.666667,0.814815
3296,2,0.158104,0.003404,0.681416,0.380952,0.488889,1.000000,0.496894,0.126002,0.0,0.545455,0.833333,0.517241,0.500000,0.000000
9088,2,0.008432,0.016273,0.438938,0.539683,0.577778,1.000000,0.142857,0.126002,0.0,1.000000,0.666667,1.000000,0.555556,0.722222
362,2,0.922012,0.997622,0.120354,0.841270,0.144444,0.000000,0.571429,1.000000,0.0,0.090909,0.333333,0.793103,0.111111,0.074074
9243,3,0.237753,0.027992,0.299115,0.698413,0.633333,1.000000,0.211180,0.000000,1.0,0.000000,0.000000,0.034483,0.611111,0.055556
7283,3,0.214822,0.027884,0.423009,1.000000,0.266667,0.500000,1.000000,0.363636,0.0,1.000000,0.500000,0.482759,0.666667,0.259259
3123,3,0.189964,0.012300,0.438938,0.666667,0.477778,1.000000,0.211180,0.126002,0.0,0.545455,0.666667,0.482759,0.000000,0.314815
4861,3,0.146520,0.012392,0.757522,0.333333,0.411111,1.000000,0.571429,0.126002,0.0,0.545455,0.833333,1.000000,0.500000,0.870370
1895,3,0.312560,0.009114,0.872566,0.015873,0.400000,1.000000,1.000000,0.126002,0.0,0.545455,0.666667,0.000000,0.444444,0.407407
430,3,0.694762,0.962009,0.012389,0.857143,0.511111,1.000000,0.000000,0.126002,0.0,0.181818,0.166667,0.000000,0.166667,0.203704
619,4,0.676109,0.964557,0.330973,0.539683,0.977778,1.000000,0.142857,0.126002,0.0,0.181818,0.666667,0.344828,0.444444,0.240741
1197,4,0.107306,0.013094,0.582301,0.507937,0.588889,1.000000,0.142857,0.126002,0.0,0.454545,0.666667,0.793103,0.944444,0.425926
5108,4,0.014858,0.016810,0.263717,1.000000,0.688889,1.000000,0.142857,0.126002,0.0,0.909091,0.333333,1.000000,0.888889,0.703704
1901,4,0.175113,0.000000,0.617699,0.349206,0.477778,1.000000,0.714286,0.126002,0.0,0.545455,0.666667,0.000000,0.500000,0.074074
4964,4,0.192645,0.006566,0.513274,0.746032,0.555556,1.000000,0.211180,0.126002,0.0,0.636364,0.000000,0.000000,0.111111,0.722222
4143,4,0.111249,0.014271,1.000000,0.000000,0.500000,0.333333,0.428571,0.126002,0.0,0.545455,0.000000,0.827586,0.500000,0.333333

In [272]:
# Metrics dictionary
accuracy = dict()
precision = dict()
recall = dict()
f1 = dict()
fpr = dict()
tpr = dict()

Train and validation

In [273]:
# Train/Validation - Test split
X, X_test = train_test_split(X, test_size=.2, random_state=42)
print(X.shape, X_test.shape)

(19, 15) (5, 15)

In [274]:
sample = X
y_sample = sample["Severity"]
X_sample = sample.drop("Severity", axis=1)

	
X_train, X_validate, y_train, y_validate = train_test_split(X_sample, y_sample, random_state=42)
print(X_train.shape, y_train.shape)
print(X_validate.shape, y_validate.shape)

(14, 14) (14,)
(5, 14) (5,)

In [275]:
# from sklearn.linear_model import LogisticRegression
# from sklearn.ensemble import GradientBoostingClassifier
# from xgboost import XGBClassifier
# lrcv = LogisticRegression(max_iter = 500)
# gbc = GradientBoostingClassifier(learning_rate= 0.01,n_estimators= 200)
# xgb = XGBClassifier()

In [276]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_sample,y_sample, train_size = 0.75, random_state = 12)

In [277]:
X_sample

,Start_Lat,Start_Lng,Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in),Year,Month,Weekday,Day,Hour,Minute
3296,0.158104,0.003404,0.681416,0.380952,0.488889,1.000000,0.496894,0.126002,0.0,0.545455,0.833333,0.517241,0.500000,0.000000
7283,0.214822,0.027884,0.423009,1.000000,0.266667,0.500000,1.000000,0.363636,0.0,1.000000,0.500000,0.482759,0.666667,0.259259
374,0.698293,1.000000,0.228319,0.841270,0.000000,0.500000,0.496894,0.363636,0.0,0.090909,0.333333,0.793103,0.111111,1.000000
1901,0.175113,0.000000,0.617699,0.349206,0.477778,1.000000,0.714286,0.126002,0.0,0.545455,0.666667,0.000000,0.500000,0.074074
1390,0.000000,0.024465,0.681416,0.269841,0.622222,1.000000,0.332920,0.126002,0.0,0.454545,0.000000,0.896552,0.222222,0.222222
8643,0.201730,0.000354,0.279646,0.333333,0.922222,1.000000,0.285714,0.126002,0.0,1.000000,0.000000,0.862069,0.722222,0.500000
9243,0.237753,0.027992,0.299115,0.698413,0.633333,1.000000,0.211180,0.000000,1.0,0.000000,0.000000,0.034483,0.611111,0.055556
4861,0.146520,0.012392,0.757522,0.333333,0.411111,1.000000,0.571429,0.126002,0.0,0.545455,0.833333,1.000000,0.500000,0.870370
960,0.201374,0.025815,0.582301,0.142857,0.533333,1.000000,0.211180,0.126002,0.0,0.454545,0.333333,0.724138,1.000000,0.907407
7851,0.355653,0.038348,0.394690,0.079365,0.966667,1.000000,0.332920,0.126002,0.0,1.000000,0.166667,0.655172,0.277778,0.481481
4964,0.192645,0.006566,0.513274,0.746032,0.555556,1.000000,0.211180,0.126002,0.0,0.636364,0.000000,0.000000,0.111111,0.722222
430,0.694762,0.962009,0.012389,0.857143,0.511111,1.000000,0.000000,0.126002,0.0,0.181818,0.166667,0.000000,0.166667,0.203704
5108,0.014858,0.016810,0.263717,1.000000,0.688889,1.000000,0.142857,0.126002,0.0,0.909091,0.333333,1.000000,0.888889,0.703704
4143,0.111249,0.014271,1.000000,0.000000,0.500000,0.333333,0.428571,0.126002,0.0,0.545455,0.000000,0.827586,0.500000,0.333333
7643,0.387104,0.025063,0.203540,0.317460,1.000000,1.000000,0.332920,0.126002,0.0,1.000000,1.000000,0.586207,0.666667,0.685185
9088,0.008432,0.016273,0.438938,0.539683,0.577778,1.000000,0.142857,0.126002,0.0,1.000000,0.666667,1.000000,0.555556,0.722222
3123,0.189964,0.012300,0.438938,0.666667,0.477778,1.000000,0.211180,0.126002,0.0,0.545455,0.666667,0.482759,0.000000,0.314815
1197,0.107306,0.013094,0.582301,0.507937,0.588889,1.000000,0.142857,0.126002,0.0,0.454545,0.666667,0.793103,0.944444,0.425926
4266,0.204801,0.000152,0.688496,0.444444,0.500000,1.000000,0.142857,0.126002,0.0,0.545455,0.166667,0.862069,0.333333,0.666667

In [279]:
rfc = RandomForestClassifier(n_jobs=-1, random_state=42)
parameters = [{"n_estimators": [ 100, 200, 500], "max_depth": [ 10, 15, 30]}]
grid = GridSearchCV(rfc, parameters, verbose=5, n_jobs=-1)
grid.fit(X_train, y_train)

print("Best parameters scores:")
print(grid.best_params_)
print("Train score:", grid.score(X_train, y_train))
print("Validation score:", grid.score(X_validate, y_validate))

ValueError: n_splits=5 cannot be greater than the number of members in each class.

In [ ]:
print("Default scores:")
rfc.fit(X_train, y_train)
print("Train score:", rfc.score(X_train, y_train))
print("Validation score:", rfc.score(X_validate, y_validate))

In [ ]:
y_pred=rfc.predict(X_sample)

In [ ]:
import pickle
pickle.dump(rfc,open('lr_model.pkl','wb'))

In [ ]:
y_sample

In [ ]:
y_pred

In [ ]:
print("Accuracy: ", accuracy_score(y_sample,y_pred))